VITE_DYNAS_APP_ID=
VITE_OAUTH_CLIENT_ID=abb448ee-3a8b-4568-a5d8-2b2adc6337b2
VITE_API_BASE_URL=https://test.boltzhub.com/bz-appstore-api
VITE_GATEWAY_URL=https://auth.test.boltzhub.com

# For staging environment:
# VITE_API_BASE_URL=https://boltzhub.com/bz-appstore-api
# VITE_GATEWAY_URL=https://auth.boltzhub.com
